name: Java CI-Pipeline
#Löst bei push aus
on: [push]

#Variablen
env:
  SRC_DIR: "Java_CI/src/*.java"
  BIN_DIR: "Java_CI-Test/bin"
  
jobs:
  #Build-Job
  build:
  #Die VM auf der das ausgeführt wird
    runs-on: ubuntu-latest
    steps:
    #Den Code vom Repo holen
      - name: Checkout Code
        uses: actions/checkout@v5
    #JDK zum kompilieren einrichten    
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
    #bin ordner erstellen, falls nicht vorhanden
      - name: Create bin directory
        run: mkdir -p $BIN_DIR

      #Kompiliere Java
      - name: Compile Java
        run: javac -d $BIN_DIR $SRC_DIR

      #Artefakte uploaden damit test darauf zugreifen kann
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: java-build-artifact
          path: ${{env.BIN_DIR}}

  #Test-Job
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
    #JDK einrichten zum ausführen des Java files
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
        #Artefakt holen
      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: java-build-artifact
          path: ${{env.BIN_DIR}}
        #Java ausführen
      - name: Run Java Test
        run: java -cp Java_CI/bin App

